{% extends 'base.html.twig' %}

{% block title %}Robots Cost Rent{% endblock %}

{% block body %}
    <div class="container">
        <h1>Scott Robertson</h1>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
